<ion-header>
  <ion-toolbar>
    <ion-title><h3 class="nome-app">BOKU NO HERO</h3></ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" icon="arrow-round-back" routerLink="/home" default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="substitulo">Vá além. PLUS ULTRA</p>
  
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 1</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-1', 'Boku no Hero - Opening 1')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 2</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-2', 'Boku no Hero - Opening 2')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 3</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-3', 'Boku no Hero - Opening 3')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 4</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-4', 'Boku no Hero - Opening 4')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 5</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-5', 'Boku no Hero - Opening 5')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 6</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-6', 'Boku no Hero - Opening 6')"></ion-icon>
  </div>
  <div class="card">
    <span class="nome-musica">Boku no Hero - Opening 7</span>
    <ion-icon name="play-circle" class="icon" color="success" (click)="iniciarSom('boku-7', 'Boku no Hero - Opening 7')"></ion-icon>
  </div>

</ion-content>

<ion-footer class="footer">
  <ion-icon name="play-circle" class="icon-footer" color="success" (click)="iniciarSomFooter()"></ion-icon>
  <ion-icon name="rewind" class="icon-footer" color="success" (click)="voltaSomFooter()"></ion-icon>
  <span class="nome-musica-footer">{{nomeMusica}}</span>
  <ion-icon name="fastforward" class="icon-footer" color="success" (click)="avancaSomFooter()"></ion-icon>
  <ion-icon name="pause" class="icon-footer" color="success" (click)="pausarSom()"></ion-icon>
</ion-footer>
