.titulo{ text-align: center; color: #f7f7f7; padding: 0; margin: 0px 0px 10px 0px; font-weight: 300; font-size: 18px; }

.nome{ font-weight: 500; font-size: 18px; color: #f3f3f3; text-align: left; margin: 0px 0px 10px 0px; padding: 0; }

.centralizadora{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: normal;
    padding: 0px 16px;
 }

 .botao{
     width: 90%;
     margin: 0 0;
     border-radius: 5px;
     box-shadow: 0px 0px 5px 1px #3636361a;
     font-weight: bold;
 }

 .centralizadora{
     img{
         padding-top: 10px;
         width: 90px;
         min-width: 80px;
     }
 }

 
@media (min-width: 1200px) 
{
  ion-content{
      div{
          width: 50%;
          margin: 0 auto;
      }
  }
}

@media (min-width: 1000px) 
{
    ion-content{
        div{
            width: 60%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 700px) 
{
    ion-content{
        div{
            width: 85%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 600px) 
{
    ion-content{
        div{
            width: 90%;
            margin: 0 auto;
        }
    }
}