<ion-header>
  <ion-toolbar>
    <ion-title>
      ANIPLAYER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p class="titulo">Escolha seu anime preferido para ouvir suas músicas!</p>

    <div class="container-lista">

      <div class="card">
          <ion-grid>
            <ion-row>
              <ion-col size="5" size-sm="3" size-md="2">
                <div class="centralizadora">
                  <img src="../../assets/img/logo-midoriya.png" alt="">
                </div>
              </ion-col>
              <ion-col size="7" size-md="9" size-md="10">
                  <p class="nome">Boku no Hero</p>
                  <ion-button color="primary" class="botao" expand="full" routerLink="/musicas-boku">MÚSICAS</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>

      <div class="card">
        <ion-grid>
          <ion-row>
            <ion-col size="5" size-sm="3" size-md="2">
              <div class="centralizadora">
                <img src="../../assets/img/logo-dragon.ico" alt="">
              </div>
            </ion-col>
            <ion-col size="7" size-md="9" size-md="10">
                <p class="nome">Dragon Ball Super</p>
                <ion-button color="primary" class="botao" expand="full" routerLink="/musicas-dragon-ball">MÚSICAS</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="card">
        <ion-grid>
          <ion-row>
            <ion-col size="5" size-sm="3" size-md="2">
              <div class="centralizadora">
                <img src="../../assets/img/kimetsu.png" alt="">
              </div>
            </ion-col>
            <ion-col size="7" size-md="9" size-md="10">
                <p class="nome">Kimetsu no Yaiba</p>
                <ion-button color="primary" class="botao" expand="full"routerLink="/musicas-kimetsu">MÚSICAS</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="card">
        <ion-grid>
          <ion-row>
            <ion-col size="5" size-sm="3" size-md="2">
              <div class="centralizadora">
                <img src="../../assets/img/naruto.png" alt="">
              </div>
            </ion-col>
            <ion-col size="7" size-md="9" size-md="10">
                <p class="nome">Naruto Shippuden</p>
                <ion-button color="primary" class="botao" expand="full"routerLink="/musicas-naruto">MÚSICAS</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

  </div>

</ion-content>
